.App {
  margin: auto;
  justify-content: center;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input{
  white-space: pre-line;
  display: block;
  width: 50%;
  height: 4vh;
  color: black;
  margin: 1rem;
}

::placeholder {
  color: black;
  font-size: 1rem;
}

button{
  padding: .4rem;
  margin-left: 1rem;
  cursor: pointer;
}

ul{
  margin-top: 1rem;
  margin-left: 3rem;
}